@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /*color mode */
  --primary-color: #b0c4de;
  --secondary-color: #dda0dd;
  --dark-color: #eb6c8d;
  --light-color: #f8f8ff;
  --more-dark-color: #1c1c1c;

  /* fonts */
  --title-font-size: 1, 1rem;
  --subtitle-font-size: 0.9rem;
  --font-size: 0.7rem;
  --button-font-size: 0.6rem;
  --text-color: #1c1c1c;
  --body-font: #1c1c1c;
}

main {
  margin: 0 55px;
}

html {
  font-size: 18px;
  background-color: var(--primary-color);
}

.divider {
  margin: 10px -55px 10px -55px;
  height: 1.5px;
  background: rgb(102, 185, 223);
  background: linear-gradient(
    90deg,
    rgba(102, 185, 223, 1) 0%,
    rgb(3, 159, 231) 0%,
    rgba(0, 212, 255, 0) 100%
  );
}

h2 {
  font-size: var(--subtitle-font-size);
}

p {
  font-size: var(--font-size);
  color: var(--text-color);
}

header {
  width: 100%;
}

header .menu {
  height: 95px;
  background-color: var(--light-color);
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
}

.menu__img img {
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

nav ul li a {
  color: var(--body-font);
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--dark-color);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--dark-color);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

.menu__hamburguer {
  display: none;
}

/* Aqui começa o CSS do banner*/
.banner {
  height: 600px;
  width: auto;
  margin: 0 -55px;

  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner div {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.banner h1 {
  width: 60%;
  background-color: var(--dark-color);
  font-style: normal;
  font-weight: 700;
  font-size: var(--title-font-size);
  text-align: center;
  padding: 10px;
  color: var(--light-color);
}

.banner h2 {
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  font-weight: 500;
  text-align: center;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 10px;
}

.title {
  display: flex;
  padding-top: 30px;
  font-size: var(--title-font-size);
  color: var(--body-font);
}

/* Aqui começa o CSS dos cards*/
.container__cards {
  width: 100%;
  height: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.card {
  width: 30%;
  height: auto;
  min-height: 598px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-color);
  position: relative;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon__card {
  position: absolute;
  top: 130px;
}

.icon__card img {
  border-radius: 50%;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.6);
}

.card__img-background {
  width: 100%;
  height: 210px;
  position: relative;
}

.background-marcha {
  background-image: url("../img/Fundo_Marcha.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.background-feiratrans {
  background-image: url("../img/fundo_trans.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.background-parada {
  background-image: url("../img/Fundo_Parada.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.card__text {
  padding: 70px 20px 20px;
}

.card_title {
  text-align: center;
  margin-bottom: 24px;
}

.button__card {
  background-color: var(--secondary-color);
  padding: 16px 30px;
  margin-bottom: 46px;
  border-radius: 7px;
  color: var(--text-color);
  font-size: var(--button-font-size);
  font-weight: 500;
  text-decoration: none;
}

.button__card:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* Aqui começa o CSS do vídeo*/
.title__video {
  text-align: center;
}

.video {
  padding-bottom: 60%;
  position: relative;
}

.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.video__descricao {
  font-size: var(--subtitle-font-size);
}

.video__descricao h2 {
  margin-bottom: 24px;
}

.video__descricao a {
  text-decoration: none;
  color: var(--body-font);
}

.video__descricao a:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  margin: 45px -55px 0px -55px;
  padding: 16px 55px;
}

.form__news {
  display: flex;
  font-size: 0.6rem;
  align-items: center;
}

.form__news p {
  color: var(--light-color);
  padding: 0 0 0 10px;
}

.form__email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  border-radius: 8px;
  padding: 7px;
  border: 0;
}

.form__email button {
  font-size: var(--button-font-size);
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 8px;
  border: 0;
}

.form__email button:hover {
  background-color: var(--more-dark-color);
  color: var(--light-color);
}

/* Aqui começa o CSS do footer*/
footer {
  width: 100%;
  padding: 30px;
  background-color: var(--more-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.redes__sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.redes__sociais a {
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.redes__sociais img {
  width: 60%;
}

.redes__sociais a:hover {
  transform: translateY(-8px);
}

.rodape__text {
  color: var(--light-color);
  font-size: var(--font-size);
}

.icon__seta a img:hover {
  transform: translateY(-8px);
}

.icon__seta {
  position: absolute;
  right: 0;
  bottom: 6px;
}

.icon__seta img {
  width: 60%;
  transition: 0.3s;
}

@media screen and (max-width: 769px) {
  main {
    margin: 0;
    padding: 0 10px;
  }

  html {
    font-size: 22px;
  }

  .menu__img img {
    width: 40%;
  }

  .menu__list {
    display: none;
  }

  .menu__hamburguer {
    display: flex;
  }

  .banner,
  .divider {
    margin: -10px;
  }

  .banner div,
  .banner h1,
  .banner h2 {
    width: 95%;
    gap: 50px;
  }

  h1 {
    font-size: var(--title-font-size);
  }

  h2 {
    font-size: var(--subtitle-font-size);
  }

  .title {
    text-align: center;
    font-size: var(--title-font-size);
  }

  .container__cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    width: 95%;
  }

  .video__descricao {
    width: 100%;
    padding: 1rem;
  }

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 -10px;
    padding: 10px 0px 20px 0;
  }

  .form__email {
    width: 100%;
  }

  .rodape__text {
    padding-top: 0.8rem;
    text-align: center;
  }
}
